



*{
    /* background-color: black; */
    margin: 0;
    padding:0;
    color: #ededed;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: #ededed;
    /* margin-left: 20px; */
    font-weight: bold;
}
.navbar a{
    font-size: 18px;
    color: #ededed; 
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    transition-duration: .1s;
    


}


.navbar a:hover, 
.navbar a.active{
    color: #00abf0;
    text-decoration:underline;

}

.home{
    height: 100vh;
    display:flex;
    align-items: center;
    padding:0 10%;


}
.home-content{
    /* background: yellowgreen; */
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0; 
 
}
.home-content p{
    font-size: 16px ;
    margin: 20px 0 40px;
    line-height: ;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* background-color: yellowgreen; */
}
.home-content .btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center ;

    align-items: center;
    height: 100%;
    width:150px;
    border: 2px solid  #00abf0 ;
    background:  #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font: weight 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
}

.btn-box a:hover{
    /* background:transparent; */
    background: #00abf0;
}
.btn-box a:nth-child(2){
    background:transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    background:#081b29;
    }
.btn-box a:nth-child(2)::before{
    background:  #00abf0;
}



.btn-box a::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;

background:  #081b29;
z-index: -1;
transition: 0.7s;

}

.btn-box a:hover:before{
width: 100%;
}