*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;

}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.cursor{
    height: 20px;
    width: 20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    /* left: 400px; */
    background-color:white;
    /* top:200px; */
    transition: all linear 0.2s;
}
h1{
    font-size: 9vw;
    font-weight: 900;
}